:root {
  --main-bg-color-light: #5df2d6;
  --bg-color: #141a20;
  --font-color: #dee2e6;
  --placeholder-font-color: #9ea2a6;
  --hover-font-color: #eef2f6;
  --border-color: #454d55;
  --hover-border-color: #dee2e6;

  --primary: #454d55;
  --secondary: #343a40;
}

body {
  background-color: #141a20;
}

iframe {
  border-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.content-container {
  width: calc(100% - 2rem);
  margin: 1rem;
}

/* Details Chart Box */
.chart-box {
  width: 40rem;
  margin: 0 auto;
  background-color: var(--primary);
  padding: 2rem 2rem 2rem 2rem;
}

/* Statistics Box */
.statistics-box {
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--primary);
  width: 100rem;
  text-align: center;
  color: var(--font-color);
  font-size: 2vw;
}

/* Index */
.index-search-form {
  padding-top: 4rem;
  width: 100%;
}

.index-search-dd {
  width: 9rem !important;
  top: -0.4rem;
}

.index-search-text {
  width: calc(100% - 24rem) !important;
}

.index-search-btn {
  width: 6rem !important;
  margin-left: 0.5rem;
}

#example_btn {
  background-color: var(--secondary);
}

.chart-container {
  text-align: center;
  margin: 2rem auto;
}

.center-box {
  margin: 4rem auto;
  padding: 2rem;
  background-color: var(--secondary);
  width: 80vw;
  text-align: center;
  color: var(--font-color);
  font-size: 2vw;
}

.aviator-card {
  background-color: var(--primary);
  color: var(--font-color);
  font-size: 1.2rem;
  text-align: left;
}

/* API*/
.api-box {
  margin: 4rem auto;
  padding: 2rem;
  background-color: var(--secondary);
  width: 80vw;
  text-align: center;
  color: var(--font-color);
  font-size: 1rem;
}

.code-box {
  padding: 1rem 2rem 0.5rem 2rem;
  background-color: var(--primary);
  width: 100%;
  text-align: left;
  color: var(--font-color);
  font-size: 1rem;
}

.code-box > pre {
  color: var(--font-color);
}

.code-title {
  text-align: left;
}

.btn-group-container {
  text-align: left;
}

.hljs {
  background-color: var(--primary) !important;
}

/* Tables */
content-container > table {
  table-layout: fixed;
  margin: 2rem;
  width: calc(100% - 6rem) !important;
}

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
  word-break: break-word;
}

table tfoot {
  display: table-header-group;
}

input.form-control {
  padding: 16px .5rem
}

div.dataTables_wrapper thead tr {
  height: auto;
  max-height: 175px;
}

div.dataTables_wrapper li.paginate_button a {
  height: 100%;
  padding-top: 0.7rem;
}

.pagination-input {
  width: 70px !important;
  height: 30px !important;
  display: inline-block !important;
}

#properties td,
#properties th {
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* dataTables adjustments */
.dataTable {
  width: 100% !important;
}

/* Login */
.navbar-login-container {
  display: flex !important;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
}

/* Datatables */
.dataTables_length > label {
  color: var(--font-color);
}

.page-item .page-link {
  background-color: var(--primary);
  border-color: var(--border-color);
  color: var(--font-color);
}

.page-item.active .page-link {
  color: var(--hover-font-color);
  background-color: var(--primary);
  border-color: var(--hover-border-color);
}

.page-link:hover {
  color: var(--hover-font-color);
  background-color: var(--primary);
  border-color: var(--hover-border-color);
}

.page-item.disabled .page-link {
  color: var(--font-color);
  pointer-events: none;
  border-color: var(--primary);
  background-color: var(--secondary);
}

.form-control {
  background-color: var(--primary);
  border-color: var(--border-color);
  color: var(--font-color);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form-control:focus {
  background-color: var(--primary);
  border-color: var(--border-color);
  color: var(--font-color);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.dt-button.dropdown-item {
  background-color: var(--hover-font-color) !important;
}

.dt-button.dropdown-item.active {
  background-color: var(--primary) !important;
}

td > div > div > p > a {
  color: var(--font-color);
}

td > div > div > p > a:hover {
  color: var(--hover-font-color);
}

.ui-autocomplete ui-front {
  border-color: var(--primary) !important;
}

.ui-menu-item {
  background-color: var(--secondary) !important;
  color: var(--font-color);
  border-color: var(--primary) !important;
}

.ui-menu-item:hover {
  background-color: var(--primary) !important;
  color: var(--hover-font-color);
}

.ui-state-active {
  background-color: var(--primary) !important;
  color: var(--hover-font-color);
  border-color: var(--primary) !important;
}

.ui-widget-content {
  border-color: var(--primary) !important;
}

.plots-header {
  margin: 2rem auto;
  padding: 1rem 0 0.5rem 0;
  background-color: var(--primary);
  width: 100%;
  text-align: center;
  color: var(--font-color);
  font-size: 1.5rem;
}

/*
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
   height: 13px;
   width: 13px;
   background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='11' x2='11' y2='1' stroke='red' stroke-width='2'/%3e%3cline x1='1' y1='1' x2='11' y2='11' stroke='red' stroke-width='2'/%3e%3c/svg%3e");
}
*/
.form-control::placeholder {
  color: var(--placeholder-font-color);
}

.dataTables_info {
  color: var(--font-color);
}

/* On/Offline Circles*/
.red-circle {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.green-circle {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.orange-circle {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.grey-circle {
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

/* Author Info */
.custom-control-label > input[type="number"] {
  width: 2.8rem;
  background-color: var(--primary);
  color: var(--font-color);
}

.custom-control-input.is-valid ~ .custom-control-label, .was-validated .custom-control-input:valid ~ .custom-control-label {
  color: var(--primary);
}

.contact-container {
  width: calc(100% - 4rem);
  margin: 2rem;
  padding: 2rem;
  background-color: var(--primary);
}

.contact-container > form > div > label {
  color: var(--font-color);
}

@media only screen and (min-width: 80rem) and (max-width: 120rem) {
  .contact-container {
    width: calc(100% - 40vw);
    margin: 2rem 20vw 2rem 20vw;
  }
}

@media only screen and (min-width: 120rem) {
  .contact-container {
    width: calc(100% - 60vw);
    margin: 2rem 30vw 2rem 30vw;
  }
}

.contact-container > form > .form-group > .form-control {
  border-color: var(--secondary);
  background-color: var(--secondary);
}

.bootstrap-select > .btn {
  border-color: var(--secondary);
}

.bootstrap-select > .dropdown-menu {
  background-color: var(--secondary);
}

.bootstrap-select > .dropdown-menu > .bs-searchbox > input {
  background-color: var(--primary);
  color: var(--font-color);
}

.bootstrap-select > .dropdown-menu > .inner > ul > li > .dropdown-item {
  background-color: var(--secondary);
  color: var(--font-color);
}

.filter-option {
  background-color: var(--secondary);
  color: var(--font-color);
}

/* Collapsible table cell text*/
.module {
  position: relative;
}

.module .collapse, .module .collapsing {
  height: 5.5rem;
}

.module .collapse {
  display: block;
  overflow: hidden;
}

.module .collapse.show {
  height: auto;
}

.read-more {
  position: absolute;
  top: 4.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  /*background-image: linear-gradient(to bottom, transparent 60%, var(--primary));
  background-image: linear-gradient(transparent 10%, rgba(255,255,255,.05));*/

  opacity: 1;
  transition: all .3s linear;
}

.odd > td > div > .read-more {
  background-image: linear-gradient(transparent 10%, #3f444a);
}

.even > td > div > .read-more {
  background-image: linear-gradient(transparent 10%, #353a40);
}

.read-more:not(.collapsed) {
  position: absolute;
  height: 1rem;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  opacity: 1;
  /*background-image: linear-gradient(to bottom, transparent 60%, var(--primary));
  background-image: linear-gradient(transparent 10%, rgba(255,255,255,.05));*/

  opacity: 1;
  transition: all .3s linear;

}

.read-more:not(.collapsed) {
  opacity: 0;
}

.footer {
  background-color: var(--secondary);
  /*position: absolute;*/
  width: 100%;
  height: 60px;
  line-height: 60px;
  bottom: 0
}
