
h2 {
    color: var(--font-color) !important;
}
.url {
    display: none;
}
.swagger-ui {
    color: var(--font-color);
}
.swagger-ui table thead tr td, .swagger-ui table thead tr th {
    color: var(--font-color) !important;
}
.swagger-ui .info li, .swagger-ui .info p, .swagger-ui .info table {
    color: var(--font-color) !important;
}
.swagger-ui .parameter__name {
    color: var(--font-color) !important;
}
.swagger-ui .parameter__name {
    color: var(--font-color) !important;
}
td {
    word-wrap: normal;
    word-break: normal;
}
.swagger-ui .parameters-col_description {
    width: 87%;
    margin-bottom: 2em;
}
.swagger-ui .opblock-tag {
    color: var(--font-color) !important;
}
.swagger-ui .opblock .opblock-summary-operation-id, .swagger-ui .opblock .opblock-summary-path, .swagger-ui .opblock .opblock-summary-path__deprecated {
    color: var(--font-color) !important;
}
.swagger-ui .opblock .opblock-summary-description {
    color: var(--font-color) !important;
}
.swagger-ui .opblock-description-wrapper p, .swagger-ui .opblock-external-docs-wrapper p, .swagger-ui .opblock-title_normal p {
    color: var(--font-color) !important;
}
.swagger-ui .parameter__type {
    color: var(--font-color) !important;
}
.swagger-ui .response-col_description {
    width: 87%;
}
.swagger-ui .response-col_status {
    color: var(--font-color) !important;
}
.swagger-ui .info .base-url {
    color: var(--font-color) !important;
}
.swagger-ui .responses-inner h4, .swagger-ui .responses-inner h5 {
    color: var(--font-color) !important;
}
.swagger-ui .scheme-container {
    margin: 0 40px 20px 40px;
}
#large-arrow-down {
    fill: var(--font-color) !important;
}
.swagger-ui .parameter__name.required span {
    color: #f00 !important;
}
.swagger-ui .parameter__name.required::after {
    color: #f00 !important;
}
.swagger-ui .prop-format {
    color: #909090 !important;
}
.swagger-ui .download-contents {
    width: unset !important;
}
.swagger-ui .copy-to-clipboard {
    font-size: 1.2rem !important;
    line-height: 1 !important;
}
.swagger-ui .curl-command .copy-to-clipboard {
    width: 30px !important;
    height: 30px !important;
}
.swagger-ui .curl-command .copy-to-clipboard button {
    padding-left: 25px !important;
}