body {
  background-color: #000000;
}

.content-container {
    width: calc(100% - 2rem);
    margin: 1rem;
}
/* Author Info */
.contact-container {
    width: calc(100% - 4rem);
    margin: 2rem;
}
.contact-container > form > div > label {
    color: white;
}
/* Tables */
content-container > table {
  table-layout: fixed;
  margin: 2rem;
  width: calc(100% - 6rem) !important;
}
table {
  table-layout: fixed;
}
td {
  word-wrap: break-word;
  word-break: break-word;
}

/* dataTables adjustments */
.dataTable {
    width: 100% !important;
}

/* Login */
.navbar-login-container {
    display: flex !important;
    flex-basis: auto;
    align-items: center;
    flex-grow: 1;
}
/* On/Offline Circles*/
.red-circle {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.green-circle {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
