
    .js-plotly-plot .plotly, .js-plotly-plot .plotly div {
        margin: auto;
      }
      @media (min-width: 768px) {
        #third {
          max-width: 33%;
        }
      }
      .main-svg {
        background: rgb(200, 200, 200);
      }