<!DOCTYPE html>
{% load staticfiles %}
{% url 'main:details' as details %}
<html  lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>Aviator</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>
	<body>
    {% include "navbar.html" %}
    <div class="contact-container">
      <form>
        <div class="form-group">
          <label for="input_email">Email address</label>
          <input type="email" class="form-control" id="input_email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="input_name">Name</label>
          <input type="text" class="form-control" id="input_name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="input_toolname">Tool Name</label>
          <input type="text" class="form-control" id="input_toolname" placeholder="Tool Name">
        </div>
        <div class="form-group">
          <label for="input_url">Tool URL</label>
          <input type="text" class="form-control" id="input_url" placeholder="URL">
        </div>
        <div class="form-group">
          <label for="input_tooldesc">Tool Description</label>
          <textarea class="form-control" id="input_tooldesc" rows="5" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label for="input_tags">Tags</label>
          <select multiple class="form-control" id="input_tags">
            <option>Tag 1</option>
            <option>Tag 2</option>
            <option>Tag 3</option>
            <option>Tag 4</option>
            <option>Tag 5</option>
            <option>Tag 6</option>
            <option>Tag 7</option>
            <option>Tag 8</option>
            <option>Tag 9</option>
          </select>
        </div>
        <button type="submit" class="btn btn-outline-light">Submit</button>
      </form>
  </div>
	</body>
</html>
