<!DOCTYPE html>
{% load staticfiles %}
{% url 'main:details' as details %}
<html  lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>Aviator</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	</head>
	<body>
    {% include "navbar.html" %}
    <div class="contact-container">
      <form action="mailto:example@aviator.com" method="get" enctype="text/plain" name="EmailForm" onsubmit="return prepareEmail();">
        <input type="hidden" name="subject" id="mail_subject" value="">
        <input type="hidden" name="body" id="mail_body" value="">
        <div class="form-group">
          <label for="input_name">Name</label>
          <input type="text" class="form-control" id="input_name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="input_email">Email address</label>
          <input type="email" class="form-control" id="input_email" placeholder="name@example.com">
        </div>
        <br>
        <div class="form-group">
          <label for="input_pubmed">Pubmed ID</label>
          <input type="text" class="form-control" id="input_pubmed" placeholder="Pubmed ID">
        </div>
        <div class="form-group">
          <label for="input_toolname">Tool Name</label>
          <input type="text" class="form-control" id="input_toolname" placeholder="Tool Name">
        </div>
        <div class="form-group">
          <label for="input_authors">Authors</label>
          <textarea class="form-control" id="input_authors" rows="2" placeholder="Authors"></textarea>
        </div>
        <div class="form-group">
          <label for="input_url">Tool URL</label>
          <input type="text" class="form-control" id="input_url" placeholder="URL">
        </div>
        <div class="form-group">
          <label for="api_url">API URL</label>
          <input type="text" class="form-control" id="api_url" placeholder="API URL">
        </div>
        <div class="form-group">
          <label for="input_tooldesc">Tool Description</label>
          <textarea class="form-control" id="input_tooldesc" rows="5" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label for="input_tags">Tags</label>
          <select multiple class="selectpicker form-control" id="input_tags" data-live-search="true">
          {% for tag in tags %}
            <option>{{ tag.name }}</option>
          {% endfor %}
          </select>
        </div>

        <br>
        <div class="form-group">
          <label for="input_comments">Comments</label>
          <textarea class="form-control" id="input_comments" rows="5" placeholder="Comments"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-light">Submit</button>
      </form>
  </div>
	</body>
</html>
<script>
  function prepareEmail() {
    var text = "Name: "+document.getElementById("input_name").value + "\r\n";
    text += "Email: "+document.getElementById("input_email").value + "\r\n\r\n";
    text += "Tool: "+document.getElementById("input_toolname").value + "\r\n";
    text += "Pubmed ID: "+document.getElementById("input_pubmed").value + "\r\n";
    text += "URL: "+document.getElementById("input_url").value + "\r\n";
    text += "API: "+document.getElementById("api_url").value + "\r\n";
    text += "Authors: " + document.getElementById("input_authors").value + "\r\n";
    text += "Description: " + document.getElementById("input_tooldesc").value + "\r\n";
    text += "Tags: "+document.getElementsByClassName("filter-option-inner-inner")[0].innerHTML + "\r\n\r\n";
    text += "Comments: "+document.getElementById("input_comments").value + "\r\n";

    //document.getElementById("mail_body").value = encodeURIComponent(text);
    document.getElementById("mail_body").value = (text);
    document.getElementById("mail_subject").value = document.getElementById("input_pubmed").value;
    return true;
  }
</script>
