<!DOCTYPE html>
{% load staticfiles %}
{% url 'main:details' as details %}
<html  lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Aviator</title>
    {% load compress %}
    {% compress css inline %}
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
	
    {% compress js inline %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  </head>
	<body>
    {% include "navbar.html" %} <div class="contact-container">
      <form>
        <div class="form-group">
          <label for="input_name">Name</label>
          <input type="text" class="form-control" id="input_name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="input_email">Email address</label>
          <input type="email" class="form-control" id="input_email" placeholder="name@example.com">
        </div>
        <br>
        <div class="form-group">
          <label for="input_pubmed">PubMed ID</label>
          <input type="text" class="form-control" id="input_pubmed" placeholder="PubMed ID">
        </div>
        <div class="form-group">
          <label for="input_toolname">Tool Name</label>
          <input type="text" class="form-control" id="input_toolname" placeholder="Tool Name">
        </div>
        <div class="form-group">
          <label for="input_authors">Authors</label>
          <textarea class="form-control" id="input_authors" rows="2" placeholder="Authors"></textarea>
        </div>
        <div class="form-group">
          <label for="input_url">Tool URL</label>
          <input type="text" class="form-control" id="input_url" placeholder="URL">
        </div>
        <br>
        <div class="form-group">
          <label for="api_url">API URL</label><br>
          <label for="api_url">Add an api link to your webpage for consistent on-/offline validation (<a href="{% url 'main:api'%}">see here</a>)</label>
          <input type="text" class="form-control" id="api_url" placeholder="API URL">
        </div>
        <br>
        <div class="form-group">
          <label for="input_tooldesc">Description</label>
          <textarea class="form-control" id="input_tooldesc" rows="5" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label for="input_tags">Tags</label>
          <select multiple class="selectpicker form-control" id="input_tags" data-live-search="true">
          {% for tag in tags %}
            <option>{{ tag.name }}</option>
          {% endfor %}
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="input_comments">Comments</label>
          <textarea class="form-control" id="input_comments" rows="5" placeholder="Comments"></textarea>
        </div>
        <br>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="messageValidation">
          <label class="custom-control-label" for="messageValidation">I want to get an automated message to the given email address, if the website is down for more than <input type="number" id="days_reminder" name="days_reminder" min="1" max="28" value="3" width="2"> days.</label>
        </div>
        <br>
        <a id="sendmail" target="_blank" rel="noopener" class="btn btn-outline-light" href="mailto:aviator.ccb@gmail.com" onclick="prepareEmail()">Send email</a>
      </form>
  </div>
	</body>
</html>
<script>
  function prepareEmail() {
    var text = "Name: "+document.getElementById("input_name").value + "\r\n";
    text += "Email: "+document.getElementById("input_email").value + "\r\n\r\n";
    text += "Tool: "+document.getElementById("input_toolname").value + "\r\n";
    text += "PubMed ID: "+document.getElementById("input_pubmed").value + "\r\n";
    text += "URL: "+document.getElementById("input_url").value + "\r\n";
    text += "API: "+document.getElementById("api_url").value + "\r\n";
    text += "Authors: " + document.getElementById("input_authors").value + "\r\n";
    text += "Description: " + document.getElementById("input_tooldesc").value + "\r\n";
    text += "Tags: "+document.getElementsByClassName("filter-option-inner-inner")[0].innerHTML + "\r\n\r\n";
    text += "Comments: "+document.getElementById("input_comments").value + "\r\n";
    text += "I want to be informed, if the website is down: "+ (document.getElementById("messageValidation").checked ? "Yes" : "No") + "\r\n";
    text += "Days before reminder: "+ (document.getElementById("days_reminder").value) + "\r\n";

    text = encodeURIComponent(text)

    document.getElementById("sendmail").href = `mailto:aviator.ccb@gmail.com?subject=${document.getElementById("input_pubmed").value}&body=${text}`
    return true;
  }
</script>
