<!DOCTYPE html>
{% load staticfiles %}
{% url 'main:details' as details %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Aviator</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdn.datatables.net/rowgroup/1.0.4/css/rowGroup.dataTables.min.css">
  <link rel="stylesheet"
        href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
  <link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/chart.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
{% include "navbar.html" %}
{% comment %}<script src="{% static 'js/jquery.min.js' %}"></script>{% endcomment %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% comment %}<script src="{% static 'js/plotly.min.js' %}"></script>{% endcomment %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script type="text/javascript"
        src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript"
        src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

<script type="text/javascript"
        src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript"
        src=" https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js "></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript"
        src="{% static 'js/custom_datatables.plugin.input.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/table_display_helper.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<div class="content-container">
  <table id="table" class="table table-striped  table-dark">
    <thead>
    <tr>
      <th>Tool</th>
      <th>Status</th>
      <th>Last 30 Days</th>
      <th>Authors</th>
      <th>Year</th>
      <th>Journal</th>
      <th>PubMed</th>
      <th>Description</th>
      <th>URL</th>
      <th>Keywords</th>
      <th>Website Data</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>Tool</th>
      <th>Status</th>
      <th>Last 30 Days</th>
      <th>Authors</th>
      <th>Year</th>
      <th>Journal</th>
      <th>PubMed</th>
      <th>Description</th>
      <th>URL</th>
      <th>Keywords</th>
      <th>Website Data</th>
    </tr>
    </tfoot>
    <tbody>
    </tbody>
  </table>
  <br>
    <div class="plots-header"><p>The following plots are representing the filtered and sorted data of the table above.</p></div>
  <div class="plots-header">
    <p>Each row of the heatmap represents one website. Each cell shows the availability of the website on one day.</p>
    <div id="heatmap"></div>
  </div>
  <div class="plots-header">
    <div class="row">
      <div class="col-md-6">
        <canvas id="overview" width="600" height="300"></canvas>
      </div>
      <div class="col-md-6">
        <canvas id="c1" width="600" height="300"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <canvas id="pubs_per_year_availability" width="600" height="300"></canvas>
      </div>
      <div class="col-md-6">
        <canvas id="top10_journals_availability" width="600" height="300"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="exportCSVModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form target="_blank" action="{% url 'main:curated' %}" onsubmit="setTimeout(function(){grecaptcha.reset(); $('#exportCSVModal').modal('toggle')}, 500)"  method="post">
      {% csrf_token %}
        <div class="modal-header">
          <h3 class="modal-title">Download CSV</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            {{ form.captcha }}
            <input id="exportCSVColumns" type="hidden" name="columns" value="">
            <input id="exportCSVFilter"  type="hidden" name="filter" value="">
            <input id="exportCSVFilter0"  type="hidden" name="0" value="">
            <input id="exportCSVFilter1"  type="hidden" name="1" value="">
            <input id="exportCSVFilter2"  type="hidden" name="2" value="">
            <input id="exportCSVFilter3"  type="hidden" name="3" value="">
            <input id="exportCSVFilter4"  type="hidden" name="4" value="">
            <input id="exportCSVFilter5"  type="hidden" name="5" value="">
            <input id="exportCSVFilter6"  type="hidden" name="6" value="">
            <input id="exportCSVFilter7"  type="hidden" name="7" value="">
            <input id="exportCSVFilter8"  type="hidden" name="8" value="">
            <input id="exportCSVFilter9"  type="hidden" name="9" value="">
            <input id="exportCSVFilter10"  type="hidden" name="10" value="">
          </div>
        </div>
        <div class="modal-footer">
          <input class="btn btn-outline-dark" type="submit" value="Download">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="descriptionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Description</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div id="description-text"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  search_column = {{ search_column }};
  search_string = "{{ search_string }}";

  function showDescription(text) {
    document.getElementById("description-text").innerHTML = text;
  }
  function showExportCSVModal(text) {
    //var filter_str = ""
    var columns_str = ""
    filters = createTableSearchData(0);
    for (var i = 0, keys = Object.keys(filters), ii = keys.length; i < ii; i++) {
        if(keys[i] != "q") {
            //filter_str += ("&")+keys[i]+"="+encodeURIComponent(filters[keys[i]]);
            columns_str += (columns_str == "" ? "" : ";")+keys[i];
            document.getElementById("exportCSVFilter"+keys[i]).value = filters[keys[i]];
        }
    }
    document.getElementById("exportCSVColumns").value = columns_str;
    //document.getElementById("exportCSVFilter").value = filter_str;
    $('#exportCSVModal').modal('toggle');
  }
</script>

<script src="{% static 'js/datatables_pipeline.js' %}"></script>
<script>
  var tbl_data_url = "{% url 'main:curated_data' %}";
  var autocomplete_url = "{% url 'main:curated_autocomplete' %}";
</script>
<script src="{% static 'js/curated_table.js' %}"></script>
<script>
  $(document).ready(function () {
  });
</script>
</body>
</html>
