<footer class="footer">
  <div class="container-fluid">
        <span class="text-muted float-left">
            © {% now "Y" %} <a class="btn btn-link" href="https://www.ccb.uni-saarland.de"
                               target="_blank" rel="noopener" aria-label="link CCB">Chair for Clinical Bioinformatics</a>
        </span>
    <span class="text-muted float-right">
            <a class="btn btn-link" href="https://www.uni-saarland.de/en/legal-notice.html"
               target="_blank" rel="noopener" aria-label="link Imprint"><i class="fa fa-link"
                                                            aria-hidden="true"></i>Imprint</a>
            <a class="btn btn-link" href="https://www.uni-saarland.de/en/privacy.html"
               target="_blank" rel="noopener" aria-label="link Data protection"><i class="fa fa-link"
                                                                    aria-hidden="true"></i>Data protection</a>
        </span>
  </div>
</footer>
