<!DOCTYPE html>
{% load static %}
{% url 'main:details' as details %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Aviator</title>
  {% include "favicon.html" %}
  {% load compress %}
  {% compress css inline %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/chart.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
</head>
<body>
{% include "navbar.html" %}
{% compress js inline %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
{% endcompress %}

<div class="container-fluid">
  <div class="center-box mb-xl-3">
    <div class="card aviator-card">
      <div class="card-header">
        Help
      </div>
      <div class="card-body">
        <ul>
          <li><a href="#publications"><i class="fas fa-table"></i> Tool List</a></li>
          <li><a href="#curated"><i class="fas fa-tools"></i> Aviator-enabled</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section id="browser-compat">
    <div class="center-box">
      <div class="card mb-3 aviator-card">
        <div class="card-header"><i class="fas fa-columns"></i> Browser compatibility</div>
        <div class="card-body">
          <h5 class="card-title mb-3">Our web server supports a variety of common operating systems
            and browsers:</h5>
          <table class="table table-striped" style="color: var(--font-color);">
            <thead>
            <tr>
              <th scope="col">OS</th>
              <th scope="col">Version</th>
              <th scope="col"><i class="fab fa-chrome"></i> Chrome</th>
              <th scope="col"><i class="fab fa-firefox"></i> Firefox</th>
              <th scope="col"><i class="fab fa-edge"></i> Microsoft Edge</th>
              <th scope="col"><i class="fab fa-safari"></i> Safari</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row"><i class="fab fa-linux"></i> Linux</th>
              <td>Manjaro (64 bit) 20.0.1</td>
              <td>85.0.4183.83</td>
              <td>83.0</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th scope="row"><i class="fab fa-apple"></i> macOS</th>
              <td>Mojave 10.14.6</td>
              <td>85.0.4183.83</td>
              <td>83.0</td>
              <td>N/A</td>
              <td>14.0.2</td>
            </tr>
            <tr>
              <th scope="row"><i class="fab fa-windows"></i> Windows</th>
              <td>10</td>
              <td>85.0.4183.83</td>
              <td>83.0</td>
              <td>87.0.664.41</td>
              <td>N/A</td>
            </tr>
            </tbody>
          </table>
          <p class="card-text">For the best experience we recommend to use either <i
                  class="fab fa-chrome"></i> <em>Chrome</em> or
            <i class="fab fa-firefox"></i> <em>Firefox</em>.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="publications">
    <div class="center-box mt-xl-0">
      <div class="card aviator-card">
        <div class="card-header">
          <i class="fas fa-table"></i> Tool List
        </div>
        <div class="card-body">
          <p>
            On this page Aviator presents the availability of automatically collected
            web-servers from literature.
            The availability is checked for each automatically derived URL, twice per day.
          </p>
          <div class="row mb-xl-3">
            <div class="col-md-12">
              <img class="tutorial-img img-fluid w-100"
                   src="{% static 'images/publications_table.png' %}" alt="Publications table"/>
            </div>
          </div>
          <p>
            The table can be filtered according to every column by typing the in highlighted fields.

            Filtering of authors and automatically derived author keywords is in addition possible
            by clicking on the author name / keyword.
          </p>
          <p>
            Per default only 11 columns are shown. The displayed columns can be controlled over the
            "Column visibility" dropdown, and your selection will be remembered if you open the page
            again later.
            Sorting according to multiple columns is possible by clicking on the columns while
            holding
            the "shift" key.

            All displayed results can be downloaded over the CSV button.
          </p>
          <div class="row mb-xl-3">
            <div class="col-md-12">
              <img class="tutorial-img img-fluid w-100"
                   src="{% static 'images/publications_heatmap.png' %}" alt="Publications heatmap"/>
            </div>
          </div>
          <p>
            The ordering of the table has a direct effect on the availability heatmap shown below.
            The heatmap shows for every website and publication the availability of it during the
            last
            30 days.
            Values that were not collected are shown as grey.
          </p>
          <div class="row mb-xl-3">
            <div class="col-md-12">
              <img class="tutorial-img img-fluid w-100"
                   src="{% static 'images/publications_bar.png' %}" alt="Publications bar plots"/>
            </div>
          </div>
          <p>
            The bar plots below the heatmap show the statistics for the filtered table.
            Websites are considered temporarily offline, when they were not reachable, but have been
            online at least once in the last 14 days.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="curated">
    <div class="center-box">
      <div class="card aviator-card">
        <div class="card-header">
          <i class="fas fa-tools"></i> Aviator-enabled
        </div>
        <div class="card-body">
          <p>
            On this page Aviator presents the availability of Aviator-enabled and <a
                  href="{% url 'main:author' %}">registered</a> web-servers (typically by their
            authors).
            The availability is checked via the <a href="{% url 'main:api' %}">Aviator-enable API</a>.
            In addition to the API check the tool URL is checked as well and additional information
            are provided via the "Website Data" column.
          </p>
          <div class="row mb-xl-3">
            <div class="col-md-12">
              <img class="tutorial-img img-fluid w-100"
                   src="{% static 'images/curated_table.png' %}" alt="Curated table"/>
            </div>
          </div>
          <p>
            The table can be filtered according to every column by typing the in highlighted
            fields.

            Filtering of authors and automatically derived author keywords is in addition possible
            by clicking on the author name / keyword.
          </p>
          <p>
            Per default only 11 columns are shown. The displayed columns can be controlled over
            the
            "Column visibility" dropdown, and your selection will be remembered if you open the
            page
            again later.
            Sorting according to multiple columns is possible by clicking on the columns while
            holding
            the "shift" key.

            All displayed results can be downloaded over the CSV button.
          </p>
          <div class="row mb-xl-3">
            <div class="col-md-12">
              <img class="tutorial-img img-fluid w-100"
                   src="{% static 'images/curated_heatmap.png' %}" alt="Curated heatmap"/>
            </div>
          </div>
          <p>
            The ordering of the table has a direct effect on the availability heatmap shown below.
            The heatmap shows for every website and publication the availability of it during the
            last
            30 days.
            Values that were not collected are shown as grey.
          </p>
          <div class="row mb-xl-3">
            <div class="col-md-12">
              <img class="tutorial-img img-fluid w-100"
                   src="{% static 'images/curated_bar.png' %}" alt="Curated bar plots"/>
            </div>
          </div>

          <p>
            The bar plots below the heatmap show the statistics for the filtered table.
            Websites are considered temporarily offline, when they were not reachable, but have
            been
            online at least once in the last 14 days.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

{% include "footer.html" %}

</body>
</html>
