<!DOCTYPE html>
{% load staticfiles %}
{% url 'main:details' as details %}
<html lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>Aviator</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/chart.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
	</head>
	<body>
    {% include "navbar.html" %}
    <div class="center-box">
      Aviator - Online Webtool Database<br><br>



      <form id="form1" class="form-inline my-2 my-lg-0" action="{% url 'main:overview' %}" method="post" style="display:flex;width:100%;">
        {% csrf_token %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="ddBtn1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Webpages&nbsp;&nbsp;
          </button>
          <div class="dropdown-menu" aria-labelledby="ddBtn1">
            <a class="dropdown-item" onclick="search_dropdown(1, 'Webpages&nbsp;&nbsp;';return false;">Webpages</a>
            <a class="dropdown-item" onclick="search_dropdown(2, 'Publications');return false;">Publications</a>
          </div>
        </div>&nbsp;
        <input id="search1" name="search" class="index-search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color: var(--secondary);width: 22rem;">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="">Search</button>
      </form>
      <form id="form2" class="form-inline my-2 my-lg-0" action="{% url 'main:publications' %}" method="post" style="display:none;width:100%;">
        {% csrf_token %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="ddBtn2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Webpages&nbsp;&nbsp;
          </button>
          <div class="dropdown-menu" aria-labelledby="ddBtn2">
            <a class="dropdown-item" onclick="search_dropdown(1, 'Webpages&nbsp;&nbsp;');return false;">Webpages</a>
            <a class="dropdown-item" onclick="search_dropdown(2, 'Publications');return false;">Publications</a>
          </div>
        </div>&nbsp;

        <input id="search2" name="search" class="index-search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color: var(--secondary);width: 22rem;">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="">Search</button>
      </form>
      <br><br>
      <canvas id="myChart" width="400" height="300"></canvas>
    </div><
	</body>
</html>

<script>
var last_form = 1;
function search_dropdown(num, text) {
  document.getElementById("ddBtn1").innerHTML = text;
  document.getElementById("ddBtn2").innerHTML = text;
  document.getElementById("form"+num).style.display = "flex";
  document.getElementById("form"+(num == 1 ? 2 : 1)).style.display = "none";;
  if (last_form != num) {
    document.getElementById("search"+num).value = document.getElementById("search"+(num == 1 ? 2 : 1)).value;
  }
  last_form = num;
}
var ctx = document.getElementById('myChart').getContext('2d');
Chart.defaults.global.defaultFontColor = "#dee2e6";
//Chart.defaults.global.defaultFontSize = "14";
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Publications', 'Websites', 'Online', 'Offline'],
        datasets: [{
            label: '',
            data: [{{ paper_count }}, {{ website_count }}, {{ online_count }}, {{ offline_count }}],
            backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 206, 86, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
    legend: {
        display: false
    },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
