{% url 'main:index' as index %}
{% url 'main:overview' as overview %}
{% url 'main:publications' as publications %}
{% url 'main:author' as author %}
{% url 'main:statistics' as statistics %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ index }}">Aviator</a>
  <div class="navbar-login-container" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == index %}active{% endif %}">
        <a class="nav-link" href="{{ index }}">Home</a>
      </li>
      <li class="nav-item {% if request.path == publications %}active{% endif %}">
        <a class="nav-link" href="{{ publications }}">Publications</a>
      </li>
      <li class="nav-item {% if request.path == author %}active{% endif %}">
        <a class="nav-link" href="{{ author }}">Contact</a>
      </li>
      <li class="nav-item {% if request.path == statistics %}active{% endif %}">
        <a class="nav-link" href="{{ statistics }}">Statistics</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'main:overview' %}" method="post">
      {% csrf_token %}
      <input id="search" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="">Search</button>
    </form>
  </div>
</nav>

