<!DOCTYPE html>
{% load staticfiles %}
{% url 'main:publication' as publication %}
<html  lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>Aviator</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dataTables.fixedHeader.min.js' %}"></script>
	</head>
	<body>
    {% include "navbar.html" %}
    <div class="content-container">
      <table id="table" class="table table-striped  table-dark">
        <thead>
          <tr>
            <th>URL</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <!--<th>IP</th>-->
            <!--<th>Secure Certificate</th>-->
            <th>Show Details</th>
            <th>Papers</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="paperModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Paper</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div id="paper-title"></div>
            </div>
            <div class="form-group">
              <div id="paper-pubmed_id"></div>
            </div>
            <div class="form-group">
              <div id="paper-journal"></div>
            </div>
            <div class="form-group">
              <div id="paper-year"></div>
            </div>
            <div class="form-group">
              <div id="paper-authors"></div>
            </div>
            <div class="form-group">
              <div id="paper-abstract"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>
<script>
  function paper(title, authors, abstract, year, journal, pubmed_id) {
    document.getElementById("paper-title").innerHTML = "<b>" + title + "</b>";
    document.getElementById("paper-authors").innerHTML = authors;
    document.getElementById("paper-abstract").innerHTML = abstract;
    document.getElementById("paper-year").innerHTML = year;
    document.getElementById("paper-journal").innerHTML = journal;
    document.getElementById("paper-pubmed_id").innerHTML = pubmed_id;
  }

  $(document).ready( function () {
    var table = $('#table').DataTable( {
      scrollResize: true,
      orderCellsTop: true,
      scrollY:        "72vh",
      scrollX: true,
      scrollCollapse: true,
      paging:         true,
      //serverSide: true,
      columnDefs : [ {'type' : 'natural', 'targets' : '_all' } ],
      language: {
        searchPlaceholder: "Search"
      },
      ajax: {
          url: '/websiteData'
      },
      columns: [
        { data: "url" },
        { data: "status",
          render: function ( data ) {
            if(data) {
              return "<span class='green-circle'></span>";
            } else {
              return "<span class='red-circle'></span>";
            }
          }
        },
        { data: "created_at",
          render: function ( data ) {
              return data.substring(0, 10) + " " + data.substring(11, 19);
          }
        },
        { data: "updated_at",
          render: function ( data ) {
              return data.substring(0, 10) + " " + data.substring(11, 19);
          }
        },
        //{ data: "ip" },
        /*{ data: "certificate_secure",
          render: function ( data ) {
            if(data) {
              return "Yes";
            } else {
              return "No";
            }
          }
        },*/
        { data: "pk",
          render: function ( data ) {
            return "<a class='btn btn-outline-light' href='details/"+data+"'>Details</a>"
          }
        },
        { data: "papers",
          render: function ( data ) {
          var str = "";
          if (data != null) {
            var i = 0;
            for (i=0; i < data.length; i++) {
              str += "<a class='btn btn-outline-light' href='/publication/"+data[i]+"'>Publication</a>"
            }
            if(i == 0) {
              return "<a class='btn btn-outline-light' href='/publication/"+data+"'>Publication</a>"
            }
          }
          return str;
          }
        }/*,
        { data: "papers",
          render: function ( data ) {
            return "";
          }
        }*/
      ]
    });
  });
</script>
