<!DOCTYPE html>
{% load staticfiles %}
{% url 'main:details' as details %}
{% url 'main:paperData' as paperData %}
<html  lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>Aviator</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.0.4/css/rowGroup.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
		<link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% comment %}<script src="{% static 'js/plotly.min.js' %}"></script>{% endcomment %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script type="text/javascript"
            src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script type="text/javascript"
            src=" https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js "></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script type="text/javascript"
            src="{% static 'js/custom_datatables.plugin.input.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/table_display_helper.js' %}"></script>

	</head>
	<body>
    {% include "navbar.html" %}
    <div class="content-container">
      <table id="table" class="table table-striped  table-dark">
        <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Last 30 Days</th>
            <th>Authors</th>
            <th>Year</th>
            <th>Journal</th>
            <th>Pubmed</th>
            <th>Abstract</th>
            <th>Original URL</th>
            <th>Derived URL</th>
            <th>Contact Mail</th>
            <th>Keywords</th>
            <th>Websites</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Last 30 Days</th>
            <th>Authors</th>
            <th>Year</th>
            <th>Journal</th>
            <th>Pubmed</th>
            <th>Abstract</th>
            <th>Original URL</th>
            <th>Derived URL</th>
            <th>Contact Mail</th>
            <th>Keywords</th>
            <th>Websites</th>
          </tr>
        </tfoot>
        <tbody>
        </tbody>
      </table>
      <br>
      <div id="heatmap"></div>
    </div>

    <div class="modal fade" role="dialog" tabindex="-1" id="abstractModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Abstract</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div id="abstract-text"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<script>
  function abstract(text) {
    document.getElementById("abstract-text").innerHTML = text;
  }

  $(document).ready( function () {
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            for (var i = 0; i < numeric_search_cols.length; i++) {
                var col = numeric_search_cols[i];
                var from = parseFloat($('#from' + col.toString()).val());
                var to = parseFloat($('#to' + col.toString()).val());
                if (!isNaN(from) && data[col] < from) {
                    return false;
                }
                if (!isNaN(to) && data[col] > to) {
                    return false;
                }
            }
            return true;
        }
    );

    var render_format_num = {
        display: function (data, type, row, meta) {
            var res = parseFloat(data);
            if(isNaN(res)){
                return data;
            } else {
                return table_display_helper.numberWithCommas(res);
            }

        }
    };

    var render_scrollable = {
        display: function (data, type, row, meta) {
            return '<div class="overflow-auto resh">' + data + '</div>'
        }
    };

    var select_cols = [];
    var numeric_cols = [];
    var numeric_search_cols = [4];
    var export_cols = [];
    var lastone = [];
    var plot_col = [];
    var not_searchable_cols = [];
    var abstract_counter = 0;
    var paper_counter = 0;

    let websites = JSON.parse("{{ websites|escapejs }}");

    var datatable = $('#table').DataTable({
      drawCallback: function( settings ) {
          updatePlot();
      },
      "columnDefs": [
        { 'visible': false, 'targets': [11] },
        {orderable: false, targets: []},
        {"height": "50px", targets: ':last-child'},
        {
            render: render_format_num,
            targets: numeric_cols
        }, {
            render: render_scrollable,
            targets: lastone
        }
      ],
      pagingType: "input",
      fixedColumns:   {
        heightMatch: 'none'
      },
      scrollX: false,
      order: [[5, 'asc']],
      lengthChange: false,
      lengthMenu: [
          [5, 10, 25, 50],
          ['5 rows', '10 rows', '25 rows', '50 rows']
      ],

      buttons: ['pageLength', {
          extend: 'csv',
          exportOptions: {columns: export_cols
      }}, {extend: 'excel', exportOptions: {columns: export_cols}}, 'colvis'

      ],
      ajax: {
        url: "{% url 'main:paperData' %}"
    },
    columns: [
      { "data": "title", render: function ( data ) {
          return data.replaceAll('""""""""', '"');
        }
      },
      { "data": "websites", render: function ( data ) {
          var str = "";
          if (data != null) {
            for (var i=0; i < data.length; i++) {
              if(data[i] != null) {
                state = websites[data[i]]["status"];
                if (i > 0) {
                  str += "&nbsp;";
                }
                str += "<div style='display:none'>" + (state == null ? 1 : (state ? 0 : 2)) + "</div><span class='" + (state == null ? "orange" : (state ? "green" : "red")) + "-circle'></span>";
              }
            }
          }
          return str;
        }
      },
      { "data": "websites", render: function ( data ) {
          var str = "";
          if (data != null) {
            for (var i=0; i < data.length; i++) {
              if(data[i] != null) {
                percentage = websites[data[i]]["percentage"];
                if (i > 0) {
                  str += " / ";
                }
                str += "<div style='display:none'>" + (percentage < 10 ? ("00" + percentage) : (percentage < 100 ? ("0" + percentage) : percentage)) + "</div>" + (percentage == -1 ? "No Data" : (percentage+"% Online"));
              }
            }
          }
          return str;
        }
      },
      { "data": "authors"},
      { "data": "year"},
      { "data": "journal"},
      { "data": "pubmed_id"},
      { data: "abstract", render: function ( data ) {
          ++abstract_counter;
          return "<div style='display:none' id='abstract"+abstract_counter+"'>"+data.replaceAll('""""""""', '"')+"</div><button class=\"btn btn-outline-light my-2 my-sm-0\" type=\"button\" data-toggle=\"modal\" onclick=\"abstract(document.getElementById('abstract"+abstract_counter+"').innerHTML)\" data-target=\"#abstractModal\">Abstract</button>";
        }
      },
      { data: "websites", render: function ( data ) {
        var str = "";
        if (data != null) {
          var i = 0;
          for (i=0; i < data.length; i++) {
            if(data[i] != null) {
              str += (i > 0 ? ", " : "") + websites[data[i]]["original_url"];
            }
          }
        }
        return str;
      }
      },
      { data: "websites", render: function ( data ) {
        var str = "";
        if (data != null) {
          var i = 0;
          for (i=0; i < data.length; i++) {
            if(data[i] != null) {
              str += (i > 0 ? ", " : "") + websites[data[i]]["derived_url"];
            }
          }
        }
        return str;
      }
      },
      { "data": "contact_mail"},
      { "data": "user_kwds", render: function ( data ) {
        var str = "";
        if (data != null) {
          var i = 0;
          for (i=0; i < data.length; i++) {
            if(data[i] != null) {
              str += (i > 0 ? ", " : "") + data[i];
            }
          }
        }
        return str;
      }
      },
      { data: "websites", render: function ( data ) {
        var str = "";
        if (data != null) {
          var i = 0;
          for (i=0; i < data.length; i++) {
            if(data[i] != null) {
              str += "<a class='btn btn-outline-light' href='details/" + data[i] + "'>Website</a>"
            }
          }
          if(i == 0) {
            return "<a class='btn btn-outline-light' href='details/"+data+"'>Website</a>"
          }
        }
        return str;
      }
    }
    ], initComplete: function (settings, json) {
          var api = this.api();

          api.columns().every(function (i) {
              var column = this;

              if({{ search_column }} == i) {
                column.search(('{{ search_string }}')).draw();
              }
              if (numeric_search_cols.indexOf(i) !== -1) {
                  var el = $('<input class="form-control" placeholder="From" type="text" id="from' + i.toString() + '"></th>')
                      .appendTo($(column.footer()).empty())
                      .on('change', function () {
                          column
                              .draw();
                      });
                  $('<input class="form-control" placeholder="To" type="text" id="to' + i.toString() + '"></th>')
                      .appendTo(el.parent())
                      .on('change', function () {
                          column
                              .draw();
                      });
              } else if (not_searchable_cols.indexOf(i) === -1) {  // not a plot and not numeric
                  if(select_cols.indexOf(i) !== -1) {
                      let select = $('<select class="custom-select"><option value=""></option></select>')
                              .appendTo($(column.footer()).empty())
                              .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                );

                                column.search(val ? '^' + val + '$' : '', true, false)
                                  .draw();
                              });
                      column.data().unique().sort().each( function ( d, j ) {
                          select.append( '<option value="'+d+'">'+d+'</option>' )
                      });
                  } else {
                    $('<input class="form-control" type="text" value="'+({{ search_column }} == i ? '{{ search_string }}' : '')+'"></th>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            column.search($(this).val())
                                .draw();
                        });
                  }
            }
          });
          $('#table_wrapper .col-sm-12:eq(0)').html(api.buttons().container());
          //$('#table thead tr').clone(true).appendTo( '#table thead' );
          $('#table_filter').remove();
        }
      });

      function updatePlot() {
        if(datatable == null) {
          return;
        }
        days = 30;
        cdata = datatable.columns({filter:'applied'}).data()[1];
        adata = datatable.columns({filter:'applied'}).data()[6];
        var zdata_online = [];
        var zdata_offline = [];
        var zdata_na = [];
        var tdata = [];
        var xdata = [];


        for (var k = 0; k < cdata.length; ++k) {
          for (var i = 0; i < cdata[k].length; ++i) {
            if(cdata[k][i] in websites) {
              var tmp_data_online = [];
              var tmp_data_offline = [];
              var tmp_data_na = [];
              var tmp_tdata = [];
              for (var j = 0; j < websites[cdata[k][i]]["states"].length; ++j) {
                let value = websites[cdata[k][i]]["states"][j];
                if (value == null) {
                  tmp_data_online.push(null)
                  tmp_data_na.push(1)
                  tmp_data_offline.push(null)
                }
                else if(value){
                  tmp_data_online.push(1)
                  tmp_data_na.push(null)
                  tmp_data_offline.push(null)
                } else {
                  tmp_data_online.push(null)
                  tmp_data_na.push(null)
                  tmp_data_offline.push(1)
                }
                tmp_tdata.push("PMID: "+adata[i]);
              }
            }

            zdata_online.push(tmp_data_online);
            zdata_offline.push(tmp_data_offline);
            zdata_na.push(tmp_data_na);
            tdata.push(tmp_tdata);
          }
        }

        var online_data = {
          z: zdata_online,
          //z: [[1, 1, null], [null, null, 1]],
          x: days,
          text: tdata,
          colorscale: [[0, '#1a9850'], [1, '#1a9850']],
          colorbar: {
            len: 0.3,
            y: 1,
            yanchor: 'top',
            tickvals: [0],
            ticktext: [''],
            title: 'Online'
          },
          type: 'heatmap'
        };

        var offline_data = {
          z: zdata_offline,
          //z: [[null, null, 1], [1, null, null]],
          x: days,
          text: tdata,
          colorscale: [[0, '#d73027'], [1, '#d73027']],
          colorbar: {
            len: 0.3,
            y: 0.5,
            yanchor: 'middle',
            tickvals: [0],
            ticktext: [''],
            title: 'Offline'
          },
          type: 'heatmap'
        };

        var na_data = {
          z: zdata_na,
          //z: [[null, 1, null], [1, 1, null]],
          x: days,
          text: tdata,
          colorscale: [[0, '#969696'], [1, '#969696']],
          colorbar: {
            len: 0.3,
            y: 0,
            yanchor: 'bottom',
            tickvals: [0],
            ticktext: [''],
            title: 'NA'
          },
          type: 'heatmap'
        };

        var data = [online_data, offline_data, na_data];

        var layout = {
          plot_bgcolor:"#454d55",
          paper_bgcolor:"#454d55",
          font: {
            color: '#dee2e6'
          }
        };
        Plotly.newPlot(document.getElementById('heatmap'), data, layout);
      }
  });
</script>

	</body>
</html>
