<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Aviator</title>
  {% include "favicon.html" %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/chart.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/aviator.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/chart.min.js' %}"></script>
</head>
<body>
{% include "navbar.html" %}
<div class="statistics-box">
  <div class="row">
    <div class="col-md-6">
      <canvas id="overview" width="400" height="300"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="c1" width="400" height="300"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <canvas id="pubs_per_year_availability" width="400" height="300"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="top10_journals_availability" width="400" height="300"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <canvas id="weekdays" width="400" height="300"></canvas>
    </div>
  </div>
</div>
{% include "footer.html" %}
<script>
  Chart.defaults.global.defaultFontColor = "#dee2e6";
  //Chart.defaults.global.defaultFontSize = "14";

  var ctx1 = document.getElementById('overview').getContext('2d');
  var myChart = new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: ['Publications', 'Websites'],
      datasets: [{
        label: 'Offline',
        data: [0, {{ offline_count }}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 2
      }, {
        label: 'Temporarily offline',
        data: [0, {{ temp_offline_count }}],
        backgroundColor: [
          'rgba(255, 206, 86, 0.2)',
          'rgba(255, 206, 86, 0.2)',
        ],
        borderColor: [
          'rgba(255, 206, 86, 1)',
          'rgba(255, 206, 86, 1)',
        ],
        borderWidth: 2
      }, {
        label: 'Online',
        data: [0, {{ online_count }}],
        backgroundColor: [
          'rgba(75, 192, 192, 0.2)',
          'rgba(75, 192, 192, 0.2)',
        ],
        borderColor: [
          'rgba(75, 192, 192, 1)',
          'rgba(75, 192, 192, 1)',
        ],
        borderWidth: 2
      }, {
        label: 'Publications',
        data: [{{ paper_count }}, 0],
        backgroundColor: [
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',

        ],
        borderColor: [
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
        ],
        borderWidth: 2
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Database'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          stacked: true,
        }],
        xAxes: [{
          stacked: true
        }],
      }
    }
  });
  var ctx2 = document.getElementById('c1').getContext('2d');

  var myChart = new Chart(ctx2, {
    type: 'line',
    data: {
      labels: {{ stat1_names|safe }},
      datasets: [{
        label: 'Online',
        data: {{ stat1_online|safe }},
        backgroundColor: [
          'rgba(75, 192, 192, 0.2)'
        ],
        borderColor: [
          'rgba(75, 192, 192, 1)'
        ],
        borderWidth: 2
      }, {
        label: 'Temporarily offline',
        data: {{ stat1_tmp_offline|safe }},
        backgroundColor: [
          'rgba(255, 206, 86, 0.2)',
        ],
        borderColor: [
          'rgba(255, 206, 86, 1)',
        ],
        borderWidth: 2
      }, {
        label: 'Offline',
        data: {{ stat1_offline|safe }},
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 2
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Online/Offline'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });


  new Chart(document.getElementById('pubs_per_year_availability').getContext('2d'), {
    type: 'bar',
    data: {
      labels: {{ pubs_per_year_names|safe }},
      datasets: [{
        label: 'Online',
        data: {{ pubs_per_year_online|safe }},
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 2
      }, {
        label: 'Temporarily offline',
        data: {{ pubs_per_year_tmp_offline|safe }},
        backgroundColor: 'rgba(255, 206, 86, 0.2)',
        borderColor: 'rgba(255, 206, 86, 1)',
        borderWidth: 2
      }, {
        label: 'Offline',
        data: {{ pubs_per_year_offline|safe }},
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 2
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Availability per publication year'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          stacked: true,
        }],
        xAxes: [{
          stacked: true
        }],
      }
    }
  });

  new Chart(document.getElementById('top10_journals_availability').getContext('2d'), {
    type: 'bar',
    data: {
      labels: {{ top10_journals_names|safe }},
      datasets: [{
        label: 'Online',
        data: {{ top10_journals_online|safe }},
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 2
      }, {
        label: 'Temporarily offline',
        data: {{ top10_journals_tmp_offline|safe }},
        backgroundColor: 'rgba(255, 206, 86, 0.2)',
        borderColor: 'rgba(255, 206, 86, 1)',
        borderWidth: 2
      }, {
        label: 'Offline',
        data: {{ top10_journals_offline|safe }},
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 2
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Availability in 10 most popular journals'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          stacked: true,
        }],
        xAxes: [{
          stacked: true
        }],
      }
    }
  });
/*
new Chart(document.getElementById('weekdays').getContext('2d'), {
  type: 'bar',
  data: {
    labels: ['Average', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    datasets: [{
      label: 'Online',
      data: {{ weekdays_online|safe }},
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 2
    }, {
      label: 'Offline',
      data: {{ weekdays_offline|safe }},
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 2
    }]
  },
  options: {
    title: {
      display: true,
      text: 'Availability by weekdays'
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
        stacked: true,
      }],
      xAxes: [{
        stacked: true
      }],
    }
  }
});
*/
new Chart(document.getElementById('weekdays').getContext('2d'), {
  type: 'line',
  data: {
    labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    datasets: [{
      label: 'Differences',
      data: {{ weekdays_average|safe }},
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 2
    }/*
      label: 'Average',
      data: {{ top10_journals_tmp_offline|safe }},
      backgroundColor: 'rgba(255, 206, 86, 0.2)',
      borderColor: 'rgba(255, 206, 86, 1)',
      borderWidth: 2
  }*/
]
  },
  options: {
    title: {
      display: true,
      text: 'Availability by weekdays'
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
        stacked: true,
      }],
      xAxes: [{
        stacked: true
      }],
    }
  }
});
</script>
</body>
</html>

